<!doctype html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Barra di navigazione</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../assets/style/style.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="#">Our Honey</a></li>
        <li><a href="#">Trace Honey</a></li>
        <li>
          <img src="../assets/img/logo.png" alt="logo" /><a href="#">SHOP</a>
        </li>
        <li><a href="#">Facilities</a></li>
        <li><a href="#">Contacts</a></li>
      </ul>
    </nav>
  </body>
</html>
