* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Nav */
nav {
    width: 60%;
    margin: 60px auto;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 50%;
    min-width: 470px;
    padding: 5px 7px;
    background-color: #fbf7e3;
    border-radius: 22px;
}

nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    background-color: #f3df85;
    border-radius: 30px;
    text-align: center;
    font-size: 0.6em;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    flex-basis: 6%;
    cursor: pointer;
}

nav ul li a {
    text-decoration: none;
    color: #72331a;
    white-space: nowrap;
}

nav ul li img {
    width: 55%;
}

nav ul li:nth-of-type(3) {
    display: flex;
    justify-content: center;
    padding: 12px 25px;
    gap: 30%;
    flex-basis: 10%;
    font-size: 0.9em;
    font-weight: 500;
}

h2,
p,
button {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #72331a;
}

/* Card */
.card {
    margin: 60px auto;
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 0 0 18px 0;
    gap: 30px;
    align-items: center;
    background-color: #fbf7e3;
    border-radius: 50px;
}

.card .top {
    width: 260px;
    height: 240px;
}

.card .top img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px 50px 0 0;
}

.card .bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.card .bottom .info {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card .bottom .info .description {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.card .bottom .info .description h2 {
    font-weight: 700;
    font-size: 1.2em;
}

.card .bottom .info p {
    font-weight: 400;
    font-size: 0.9em;
}

.card .bottom .info .price p {
    font-weight: 500;
}

.card .bottom .info .price {
    text-align: center;
    display: flex;
    align-items: center;
}

.card .bottom .addCart {
    display: flex;
    justify-content: center;
}

.card .bottom .addCart button {
    padding: 10px 40px;
    background-color: #f3df85;
    border: none;
    border-radius: 22px;
    font-weight: 400;
    font-size: 0.9em;
}

/* Article */
main {
    margin: 60px auto;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 60px 30px 40px 30px;
    background-color: #fbf7e3;
    border-radius: 22px;
}

main article {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

main img {
    width: 100%;
    object-fit: contain;
}

main article h2 {
    font-size: 1.5em;
    font-weight: 600;
}

main article p {
    line-height: 1.5em;
    font-size: 0.8em;
}

/* Homepage */
header {
    background-color: #fbf7e3;
    width: fit-content;
    margin: 60px auto;
    padding: 20px 40px;
    border-radius: 60px;
}

header .topContaier {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

header .topContaier .profileContainer {
    background-image: url('../img/profile.jpg');
    background-size: cover;
    background-position: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #f3df85;
    ;
    ;
}



header .navContainer ul {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 20px;
}

header .navContainer ul li {
    background-color: #f3df85;
    flex-basis: 20%;
    padding: 12px 20px;
    font-size: 0.95em;
    white-space: nowrap;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.2s linear;
    box-shadow: 2px 2px 8px #ccba69;
    ;
}

header .navContainer ul li a {
    text-decoration: none;
    color: #72331a;
    text-align: center;
}

header .navContainer ul li:hover {
    transform: scale(1.15);
    background-color: #ffeca2;
}

header h2 {
    font-size: 1.6em;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;

}


/* Responsivity */

@media screen and (max-width: 570px) {
    main article h2 {
        font-size: 1.1em;
    }

    main article p {
        font-size: 0.7em;
    }
}

@media screen and (min-width: 700px) {
    main {
        padding: 15px;
        flex-direction: row-reverse;
        width: 90%;
    }

    main article {
        width: 50%;
        justify-content: flex-start;
        gap: 15px;
    }

    main img {
        width: 50%;
    }

    main article h2 {
        margin-top: 20px;
        font-size: 1.5em;
    }

    main article p {
        font-size: 0.8em;
    }
}

@media screen and (min-width: 1200px) {
    main article h2 {
        font-size: 1.7em;
    }

    main article p {
        font-size: 1.05em;
    }
}